.pageWrapper {
  background-color: rgba(255, 235, 205, 0.3);
}

.tabHeader {
  padding: 10px;
}

.leadIn {
  margin: 30px;
  text-align: center;
}
.carryOn {
  text-align: center;
}

.mainTabs {
  margin: 30px;
}

.wedFooter {
  height: 150px;
  background-color: rgba(255, 235, 205);
}
